.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.italic{
    font-style: italic;
}
.underLine{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}